/*Bootstrap Variables*/
$icon-font-path: '../node_modules/bootstrap/fonts';

/*Import Bootstrap*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: orange;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

img.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-nav li {
  background-color: #404040;
}

.main-nav li a{
  color: white;
  font-size: 25px;
}

.active {
  background-color: #1C53BF;
}

table {
  text-align: center;
}
